extends layout
block head
    link(rel='stylesheet', href='/ng-sortable/ng-sortable.min.css')
block content
    div.container(style="padding:0 5px; margin-top:10px; width: 100%")
        div.content(ng-app="voteApp", ng-controller="VoteCtrl")
          div.row
            div(as-sortable="sortOptions", style="margin-bottom:10px;" ng-model="candidates")
                div.panel.panel-default(ng-repeat="candidate in candidates",style="margin-bottom: 2px;float:left; width:100%" as-sortable-item)
                    div.row(as-sortable-item-handle style="margin-left:0px; margin-right:0")
                        div.panel-body(style="float:left;max-width:65%")
                            span.noselect {{candidate}}
                        div.btn-group.pull-right(role="group", style="padding-top:8px; padding-right:5px; padding-bottom:5px;")
                            a.btn.btn-default.btn-sm(ng-click="merge(-1, $index)",ng-hide="$index == 0",aria-label="Merge Up" style="z-index:1000;")
                                span.glyphicon.glyphicon-chevron-up(aria-hidden="true")
                            a.btn.btn-default.btn-sm(ng-click="merge(1, $index)",ng-hide="$index == (candidates.length - 1)",aria-label="Merge Down")
                                span.glyphicon.glyphicon-chevron-down(aria-hidden="true")
          div.row(style="margin-top:10px")
            button.btn.btn-lg.btn-primary.btn-block(ng-click="submitBallot()", ng-show="candidates.length > 1") Submit
            button.btn.btn-lg.btn-primary.btn-block(ng-click="resetBallot()") Reset
    div.footer
block scripts
    script(src="/ng-sortable/ng-sortable.min.js")
    script(src="/javascripts/vote.js")
