body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
.main-container
  margin-top: 10px
  padding: 0 5px
  width: 100%
input.form-control
  margin: 10px 0
.button-row
  margin-top: 10px
.sorting-parent
  margin-bottom: 2px
  position: relative
.sorting-child1
  margin-right: 75px
.sorting-child2
  position: absolute
  top: 50%
  right: 5px
  transform: translate(0, -50%)
  z-index: 10
.noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
